@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2;

  color-scheme: light dark;
  color: #b7b597;
  background-color: #254336;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.1;
}

label {
  display: flex;
  gap: 10px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  color: #254336;
  background-color: #808b7a;
  border: 2px solid #dad3be;
  border-radius: 8px;
  padding: 0 10px;
}

input:focus {
  outline: none;
  background-color: #dad3be;
  border: 2px solid #dad3be;
}

.cv-preview {
  background-color: #dad3be;
  width: 500px;
  padding: 30px 40px;
  align-self: center;
  border-radius: 10px;
  position: relative;
}

.cv-preview > div {
  background-color: #808b7a;
  border-radius: 10px;
  width: auto;
  padding: 20px;
}

.cv-preview p {
  color: #254336;
  font-size: 14px;
}

.iconify {
  cursor: pointer;
  font-size: 30px;
}
